:host {
    display: block;

    .footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &-content {
            font-size: 0.6rem;
            ul {
                list-style-type: none;
                text-align: center;
            }
        }
    }
}
